*{
    margin: 0px;
    border: border-box;
    font-family: Arial;
}

.navbar{
   height: 60px;
   background-color: #0f1111;
   color: white;
   align-items: center;
   display: flex; 
}

#amazon-logo{
    height: 60px;
    width: 113px;
    align-items: center;
    display: flex;
}

.hover{
    margin-top: 8px;
    align-items: center;

}
.hover:hover{
    border: 1px #d6d6d6 solid;
}

#logo{
    height:50px;
    width: 113px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    
} 

#deliver-to_logo_address{
    height: 60px;
    width: 113px;
    align-items: center;
    display: flex;
}
