*{
    margin: 0px;
    border: border-box;
    font-family: Arial;
}
/* nevbar section */
.navbar{
   height: 60px;
   background-color: #0f1111;
   align-items: center;
   display: flex;
   justify-content: space-evenly; 
   color: #d6d6d6;
}

/* Amazon logo section */

#amazon-logo{
    height: 60px;
    width: 113px;
    align-items: center;
    display: flex;
}

#logo{
    margin: 1px;
    height:50px;
    width: 113px;
    display: flex;
    position: relative;
    align-items: center;
    background-image: url("amazon_logo_og.png");
    background-size: cover;
} 

.hover_box:hover{
    border: 1px #d6d6d6 solid;
}

/* Delivery to Address section */

#deliver-to_logo_address{
    height: 60px;
    width: 90px;
    align-items: center;
    display: flex;
    color: white;
}

#deliver-to_logo_address_div{
    height: 50px;
    width: 88px;
    margin: 1px 0px 0px 0px;
    display: flex;
    align-items: center;
}

#address{
    font-weight: 600;
}
/* Delivery to location_logo */

#location-logo{
    height: 18px;
    width: 15px;
    margin: 15px 0px 0px 0px;
    padding-left: 8px;
}

#deliver-to{
    font-size: 12px;
    padding-top: 5px;
    color: #d6d6d6;
}

/* Search_section */


#nev-search-select{
    height: 39px;
    width: 850px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    padding-right: 0.6px;
}

#nev_select{
    height: 39px;
    width: 50px;
    position: relative;
    background-color: #d6d6d6;
    text-align: center;
    border-right: none;
    border-top-left-radius: 10%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 0%;
}

#nev_search_box{
    width: 100%;
    height: 35px;
    border: 0px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0%;
}

#search_icon{
    height: 37.5px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #febd68;
    position: relative;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    color: #0f1111;
    font-size: 20px;
}

.hover_box_search:hover{
    border: 2px orange solid;
}

/* hello, sign_in account and list */

#nev_sign-in_account{
    height: 60px;
    width: 160px;
    display: flex;
    align-items: center;
}

#sign-in_account{
    height: 50px;
    width: 140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#sign_in{
    font-size: 12px;
}

#account{
    font-weight: 600;
    color: white;
}

/* Return and Orders */

#nev-return_and_order{
    height: 60px;
    width: 120px;
    display: flex;
    align-items: center;
}

#return_and_order{
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#return{
    font-size: 12px;
}

#Orders{
    font-weight: 600;
    color: white;
}

/* Cart */

#nev-cart-icon_cart{
    height: 60px;
    width: 120px;
    display: flex;
    align-items: center;
}

#cart-icon_cart{
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    color: white;
}

#cart-icon{
    margin: 0px 0px 0px 10px;
    scale: 1.5;
}

#cart{
    margin: 10px 0px 0px 8px;
    font-weight: 600;
}

/* Menu Bar */

#menu_bar{
    height: 40px;
    width: 100%;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

/* menu_options */

#menu_options{
    height: 35px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

#customer_ease_menu{
    height: 39px;
    width: 80%;
    display: flex;
    align-items: center;
}

#shop-deal-in-electronics{
    height: 39px;
    width: 180px;
    display: flex;
    align-items: center;
}

#menu_options p{
    margin: 5px;
    font-size: 13px;
}


#customer_ease_menu p{
    margin: 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 9.5px;
}

#shop-deal-in-electronics p{
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}

#shop-deal-in-electronics p:hover{
    border: 1.5px white solid;
}

/* Main part */
/* hero section */

#hero-section{
    height: 600px;
    background-image: url("hero_image.jpg");
    background-size: cover;
}